body {
    margin: 0;
    padding: 0;
    font-family: 'Marmelad', sans-serif;
}

#board {
    height: 100vh;
    width: 100vw;
    background-image: url(Images/board-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#status-bar {
    width: 100%;
    height: 20vw;
    background-image: url(Images/state-panel-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 440px;
    box-sizing: border-box;
    color: white;
}

#map {
    margin-top: 3vh;
    height: 60vh;
    width: 60vh;
    border-collapse: collapse;
}

.cell {
    border: 1px solid rgb(103, 101, 168);
    background-color: rgba(103, 101, 168, 0.4);
    width: calc(60vh / 5);
    height: calc(60vh / 5);
}

.cell img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: block;
    transition: transform 0.5s ease;
}

.cell:hover {
    background-image: url(Images/cell-hover-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes vanish {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.vanish {
    animation: vanish 0.8s forwards;
}

.cell.selected {
    background-image: url(Images/cell-selected-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#beings-for-win {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#beings-for-win img {
    width: 35px;
    height: 35px;
}

.target-count {
    font-size: 1.5rem;
    margin-right: 1vw;
}

#center-status {
    display: flex;
    gap: 2vw;
    font-size: 1.5rem;
}

#game-footer {
    width: 100%;
    height: 10vw;
    background-image: url('Images/game-footer.png');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    position: relative;
    color: white;
    z-index: 1;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    transform: translateY(10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.falling {
  animation: fall 0.4s ease-out;
}